/* ===== Gene Atlas Styles ========================================================
   Author: Oleg Lavrovsky - oleg.utou.ch
   ========================================================================== */

body { 
	font:16px/26px Verdana, Helvetica, Arial, sans-serif; 
	background:white; 
}

#wrapper{ 
	width:96%; margin:2%; 
	background:#f0f0f0; 
}

header {
	text-align:center;
	margin:1em;
}

header .subtitle {
	width:36em; margin:0;
	display:inline-block;
}

article {
	text-align: center;
	margin:0 2em;
}

article button {
	padding:10px 20px;
	font-weight:bold;
}

article p {
	text-align: left;
}

::selection {
	background: #566374;
}

/* Navigation */

nav {
	background: #002147; 
	height:3em; width:100%;
}
nav a, nav a:visited {
	float:left;
	width:6em; height:3em;
	line-height:3em;
	text-align:center;
	padding:0;
	margin-bottom:0;
	text-decoration:none;
	border-left:1px solid #248;
	color:#fff; background:#136;
}
nav a:hover, nav a:active {
	color:#fff; background:#248;
	text-decoration:underline;
}
nav a.current {
	background:#999;
}

/* ------ */

.gene-list, .gene-similar ul { 
	max-height:15em; overflow-y:auto; 
	border:1px solid #ccc; 
	background:#fff;
	clear:both;
}
.gene-list li { 
	list-style:none; padding:0 .5em; 
	width:15em; float:left;
	font-weight:bold; 
}

.close-panel { font-weight:bold; float:right; font-size:20pt; padding:3pt; cursor:pointer; }
#main-container aside { background: #DDE; color: #003; }

.gene-legend { color:#aaa; border:1px solid #ccc; padding:4pt; font-size:80%; display:inline; }

/* WIDE ---------- */
@media only screen and (min-width: 768px) {

	#wrapper {
		-webkit-box-shadow:0 5px 10px #aaa;
		   -moz-box-shadow:0 5px 10px #aaa;
		        box-shadow:0 5px 10px #aaa;
	}

}
