/* ===== Gene Atlas Styles ========================================================
   Author: Oleg Lavrovsky - oleg.utou.ch
   ========================================================================== */

body { 
	font:16px/26px Verdana, Helvetica, Arial, sans-serif; 
	background:white; 
}

::selection {
	background: #566374;
}

#wrapper{ 
	width:96%; margin:2%; 
	background:#f0f0f0; 
}

header {
	text-align:center;
	margin:1em;
}

header .subtitle {
	width:36em; margin:0;
	display:inline-block;
}

article { text-align: center; margin:0 2em; min-height:11em; padding-bottom:1em; }

article button { padding:10px 20px; font-weight:bold; }

article p { text-align: left; }

/* Navigation */

nav {
	background: #002147; 
	height:3em; width:100%;
}
nav a, nav a:visited {
	float:left;
	width:6em; height:3em;
	line-height:3em;
	text-align:center;
	padding:0;
	margin-bottom:0;
	text-decoration:none;
	border-left:1px solid #248;
	color:#fff; background:#136;
}
nav a:hover, nav a:active {
	color:#fff; background:#248;
	text-decoration:underline;
}
nav a.current {
	background:#999;
}

/* ------ */

.gene-reset {
	border:1px solid #999; border-radius:50%;
	background:white; padding:0 4px; color:#777;
	cursor:pointer; visibility:hidden;
}
.gene-reset:hover {
	background:#dde; color:#999;
}	

.gene-list ul { 
	max-height:15em; overflow-y:auto; 
	border:1px solid #ccc; 
	background:#fff;
	clear:both;
}

.gene-list li { 
	list-style:none; padding:0 .5em; 
	width:15em; float:left;
	font-weight:bold; 
}

.gene-symbol { text-align:center; margin-bottom:0.5em; }

.gene-legend { 
	float:right; 
	color:#aaa; border:1px solid #ccc; 
	padding:4pt; font-size:80%; 
	display:inline; 
}

.result h4 { margin:0; }

.result section {
	text-align: left; 
	margin: 1em; padding:1em;
	background: #fff;
}

.patterns section {
	text-align: left; margin-left: 1em;
	width: 20%; display:inline-block;
}

.patterns section b { display:block; }

.about p { margin:0; }

/* WIDE ---------- */
@media only screen and (min-width: 768px) {

	#wrapper {
		-webkit-box-shadow:0 5px 10px #aaa;
		   -moz-box-shadow:0 5px 10px #aaa;
		        box-shadow:0 5px 10px #aaa;
	}
	
	.result section {
		-webkit-box-shadow:5px 5px 15px #ddd;
		   -moz-box-shadow:5px 5px 15px #ddd;
		        box-shadow:5px 5px 15px #ddd;
	}

}
